<div id="dashboard" class="container-fluid">

    <div class="title-arch">RATE HOTEL</div>

    <div ng-hide="vm.rol === 'administrador@rate.com'" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-7 wow animated animated2 fadeInLeft">
        <div class="project-hover">
            <h2>EVALUAR HOTELES</h2>
              <hr />
              <p>Deja tu retroalimentación sobre los hoteles que has visitado y cuéntanos tu experiencia.</p>
              <a href="#">EVALUAR</a>
          </div>
      </div>
    
      <div ng-show ="vm.rol === 'administrador@rate.com'" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project wow animated animated4 fadeInLeft">
            <div class="project-hover">
              <h2>REGISTRO DE CLIENTES</h2>
                <hr />
                <p>Ingrese nuevos usuarios de Rate Hotel.</p>
                <a href="#" ui-sref="registerClientAdmin">REGISTRAR</a>
            </div>
        </div>

      <div ng-show ="vm.rol === 'administrador@rate.com'" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
          <div class="project-hover">
              <h2>LISTA DE CLIENTES</h2>
                <hr />
                <p>Acá podrá ver los usuarios que han sido registrado en la aplicación.</p>
                <a href="#" ui-sref="listClient">VER USUARIOS</a>
            </div>
        </div>


      <div ng-hide="vm.rol === 'administrador@rate.com'" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
          <div class="project-hover">
              <h2>VER PERFIL</h2>
                <hr />
                <p>Toda tu información personal.</p>
                <a href="#">VER PERFIL</a>
            </div>
        </div>

        <div ng-show ="vm.rol === 'administrador@rate.com'" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-5 wow animated animated2 fadeInLeft">
            <div class="project-hover">
                <h2>REGISTRAR HOTEL</h2>
                  <hr />
                  <p>Acá puede ingresar nuevos hoteles que serán parte de Rate Hotel.</p>
                  <a href="#">REGISTRAR</a>
              </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-6 wow animated animated3 fadeInLeft">
              <div class="project-hover">
                  <h2>LISTA DE HOTELES</h2>
                    <hr />
                    <p>Acá podrá ver los hoteles que han sido registrado en la aplicación.</p>
                    <a href="#">VER HOTELES</a>
                </div>
            </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-4 wow animated fadeInLeft">
          <div class="project-hover">
              <h2>CERRAR SESIÓN</h2>
                <hr />
                <p>Hasta la próxima, te esperamos con información de los mejores hospedajes de Costa Rica.</p>
                <a href="#" ng-click="vm.cerrarSesion()">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>