<div class="container-fluid">

        <table class="table table-striped table-dark responsive">
                <h1>Clientes</h1>
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Primer nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Edad</th>
                        <th>Correo electrónico</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'activo'">
                        <td>{{usuario.cedula}}</td>
                        <td>{{usuario.primerNombre}}</td>
                        <td>{{usuario.primerApellido}}</td>
                        <td>{{usuario.segundoApellido}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>
                            <button class="btn btn-success" type="button" ng-click="vm.editUsuarios(usuario)">Editar</button>
                        </td>
                        <td>
                          <button class="btn btn-danger" type="button" ng-click="vm.eliminarUsuario(usuario)">Desactivar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-dark">
              <h1>Clientes desactivados</h1>
                <thead>
                    <tr>
                      <tr>
                        <th>Cédula</th>
                        <th>Primer nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Edad</th>
                        <th>Correo electrónico</th>
                        <th>Teléfono</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'inactivo'">
                      <td>{{usuario.cedula}}</td>
                      <td>{{usuario.primerNombre}}</td>
                      <td>{{usuario.primerApellido}}</td>
                      <td>{{usuario.segundoApellido}}</td>
                      <td>{{usuario.edad}}</td>
                      <td>{{usuario.correo}}</td>
                      <td>{{usuario.telefono}}</td>
                      <td>
                            <button class="btn btn-danger" type="button" ng-click="vm.activarUsuario(usuario)">Activar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

</div>

  



