#dashboard {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.title-arch {
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 80px;
  color: rgb(21, 89, 52);
  font-weight: bold;
  
}
.project {
width: 100%;
height: 500px;
background-image: url(../../sources/images/dash1.jpg);
background-size: cover;
background-position: center;
padding: 0 !important;
float:left;
}

.project-2 {
background-image: url(../../sources/images/dash2.jpg);
}

.project-3 {
background-image: url(../../sources/images/dash3.jpg);
}

.project-4 {
background-image: url(../../sources/images/dash4.jpg);
}

.project-5 {
  background-image: url(../../sources/images/dash3.jpg);
  }

.project-6 {
  background-image: url(../../sources/images/dash2.jpg);
  }

  .project-7 {
    background-image: url(../../sources/images/dash2.jpg);
    }

.project-hover {
width: 100%;
height: 100%;
color: #fff;
opacity: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(80, 82, 72, 0.7);
padding: 40% 30px !important;
}

.project-hover hr {
height: 30px;
width: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(255, 255, 255, 1);
border: 0;
}

.project-hover a {
color: rgba(255, 255, 255, 1);
padding: 2px 22px;
line-height: 40px;
border: 2px solid rgba(255, 255, 255, 1);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
border-color: rgba(51, 51, 51, 1);
color: rgba(51, 51, 51, 1);
background-color: #FFF;
}

.project:hover .project-hover {
opacity: 1;
}

.project:hover .project-hover hr {
width: 100%;
height: 5px;
}

