
.login-block{

background: rgb(16, 102, 33);  height: 100vh;/* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, rgb(86, 213, 61), rgb(16, 102, 33));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom,rgb(86, 213, 61),rgb(16, 102, 33)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;



.banner-sec{background-color: #fff  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; margin-top: 30px; margin-bottom: 40px; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 70px 40px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:rgb(86, 213, 61);}
.login-sec .copy-text a{color:rgb(16, 102, 33);}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: rgb(16, 102, 33);}
.login-sec h2:after{content:" "; width:100px; height:5px; background:rgb(86, 213, 61); display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: rgb(16, 102, 33); color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
}



.register-block{

  background: rgb(16, 102, 33);  height: 100%;/* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgb(86, 213, 61), rgb(16, 102, 33));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,rgb(86, 213, 61),rgb(16, 102, 33)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;
  padding : 50px 0;
  
  
  
  .banner-sec{background-color: #fff  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
  .container{background:#fff; margin-top: 30px; margin-bottom: 40px; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
  .carousel-inner{border-radius:0 10px 10px 0;}
  .carousel-caption{text-align:left; left:5%;}
  .login-sec{padding: 70px 40px; position:relative;}
  .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
  .login-sec .copy-text i{color:rgb(86, 213, 61);}
  .login-sec .copy-text a{color:rgb(16, 102, 33);}
  .login-sec h1{margin-bottom:30px; font-weight:800; font-size:30px; color: rgb(16, 102, 33);}
  .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: rgb(16, 102, 33);}
  .login-sec h2:after{content:" "; width:100px; height:5px; background:rgb(86, 213, 61); display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
  .btn-login{background: rgb(16, 102, 33); color:#fff; font-weight:600;}
  .banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
  .banner-text h2{color:#fff; font-weight:600;}
  .banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
  .banner-text p{color:#fff;}
  }

  table {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .wrapper {
    padding: 10px;
    margin: 100px auto;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background-color: #fff;

    .rating{
      overflow: hidden;
      vertical-align: bottom;
      display: inline-block;
      width: auto;
      height: 30px;
  }
  .rating > input{
      opacity: 0;
      margin-right: -100%;
  }
  .rating > label{
      position: relative;
      display: block;
      float: right;
      background: url('../sources/images/star-off-big.png');
      background-size: 30px 30px;
  }
  .rating > label:before{
      display: block;
      opacity: 0;
      content: '';
      width: 30px;
      height: 30px;
      background: url('../sources/images/star-on-big.png');
      background-size: 30px 30px;
      transition: opacity 0.2s linear;
  }
  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating:not(:hover) > :checked ~ label:before{
      opacity: 1;
  }
}


  





